@import "./variables/antd.mod.less";
@import "~antd/dist/antd.less";

/******** Modal ********/
.ant-modal-content {
  border-radius: 8px;
}

.flat-color-scheme-dark {
  .ant-modal-content {
    background-color: var(--grey-10);
  }

  .ant-modal-confirm-content {
    color: var(--grey-4);
  }

  .ant-modal-confirm-title {
    color: var(--text);
  }
}
